.cart-movie{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
    }
    h2{
        margin-top: 20px;
        margin-bottom: 7px;
        font-size: 16px;
    }
}