form{
    .form-group{ text-align:center;
        label{ font-size:18px; margin-top:30px; margin-bottom:10px;}
        .description{
            color: #999;
            margin-bottom: 20px;
        }
        .post-url label{ font-size:20px; margin-top:40px; margin-bottom:20px;}
        .form-control{ text-align:center; padding:15px 40px; font-size:15px; height:auto;
            &.is-invalid{ border-color:#dc3545;}
            &.is-invalid:focus{ box-shadow: 0 0 0 0.3rem rgba(220,53,69,.25);}
        }
    }
    .validation-container.is-invalid{ border:1px solid #dc3545; border-radius:4px; padding:5px 10px;}
    .invalid-feedback{ color:#dc3545; margin-top:10px;}
    .button-submit{ margin-top: 30px;}
}

@media screen and (max-width: 767px){
    form{
        .form-group{ 
            label{ font-size:16px;}
            .form-control{ font-size:14px; padding:12px 20px;}
        }
        h2{ font-size:16px; margin-bottom:0px;}
    }
}

@media screen and (max-width: 400px){
    form{
        .form-group{ 
            label{ font-size:15px;}
            .form-control{ font-size:13px; padding:12px 20px;}
        }
        h2{ font-size:15px;}
    }
}