.input-with-button{
    .input-button-container{
        .input-container{ display:inline-block;}
    }
}

@media screen and (max-width: 767px){
    .input-with-button{ width:100%;
        .input-button-container{ position:relative; width:100%; height:50px;
            .input-container{ position:absolute; left:0px; right:45px;}
            input{ width:100%; font-size:14px;padding:12px 20px;}
            .button{ position:absolute; right:0px; width:45px; height:45px;}
        }
    }
}