<!DOCTYPE html>
<html>
    <head>
        <title>IMDB movies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800|Roboto:300,400,500&amp;subset=latin-ext" rel="stylesheet">
        <link rel='stylesheet' id='font-awesome-css'  href='/assets/libs/font-awesome/css/font-awesome.min.css?ver=4.3.6' type='text/css' media='all' />
        <link rel="stylesheet" href="/assets/css/main.css?ver=1" type="text/css" />



    </head>
    <body>
        <div id="app"><%- reactComponent -%></div>
        <script>window.INITIAL_STATE=<%-initialState -%></script>

        <script src="/assets/js/bundle.js"></script>
    </body>
</html>