html{ height: 100%; font-size:14px;}
body{ background-color:#fff; margin:0px; padding:0px; color:#093037; font-family:$font-open-sans;}
img.aligncenter{ display:block; margin-right:auto; margin-left:auto;}
h1{ font-weight:bold; text-align: left;}
h2{ font-size:18px; margin-top:30px; margin-bottom:10px; font-weight:700; text-align:center;}
h3{ font-size: 18px; font-weight:bold; margin-top:30px;}
a{ color:#000; text-decoration:none }
a:hover{ text-decoration:none; color: #000;}
a:focus{ text-decoration:none;}
