.clearfix:after{ content:" "; visibility:hidden; display:block; height:0; clear:both;}
.inline{ display: inline-block;}
.center-block{ display:block; margin-left:auto; margin-right:auto;}
.vertical-horizontal-center{ display:table;width:100%; height:100%;
    .cell{ display:table-cell; text-align:center;vertical-align:middle;}
}
